@import "tailwindcss";

body {
  display: block;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

@font-face {
  font-family: "consolas";
  src: url("./assets/consolas.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-modern: "Helvetica", sans-serif;
  --font-retro: "Microsoft Sans Serif";
  --color-modern-dark-pri: #010409;
  --color-modern-dark-sec: #0d1117;
  --color-modern-dark-border: #3d444d;
  --color-modern-light: #ffffff;
  --color-retro: #c4c4c4;
  --color-retro-pressed: #d4d4d4;
  --color-retro-active: #02027d;
}

.retro-borders {
  border-color: #fff #404040 #404040 #fff;
}

.retro-borders-in {
  border-color: #404040 #f2f2f2 #f2f2f2 #404040;
}
