.identifier {
  color: black;
}

.typeHint,
.className {
  color: green;
}

.functionDeclaration,
.variableDeclaration,
.propertyValue,
.keyword,
.operator,
.tagName {
  color: blue;
}

.punctuation {
  color: #7a7a7a;
}

.comment {
  color: #454545;
}

.string,
.id {
  color: red;
}

.number {
  color: purple;
}

.propertyValue {
  color: #1F51FF;
}
